*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #2BC0E4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.App{
    min-height: 100vh;
    width: 100vw;
    display: flex;
}
.card{
    border: 1px solid burlywood;
    padding: 10px 20px;
    width: 400px;
    display: inline-block;
    margin: auto;
}
.card img{
    width: 100%;
}